Package: eufemd
Version: 1.0.6
Section: base
Priority: optional
Architecture: all
Depends: bash, dialog, nano, pandoc, texlive-latex-recommended, texlive-latex-extra, texlive-humanities, texlive-lang-french
Maintainer: Patrick Cardona <pcardona34@gmail.com>
Description: Ecrire une fois en Markdown (petite chaîne éditoriale pédagogique). Fournit aussi la version allégée 'md2pdf'.
Homepage: https://github.com/pcardona34/eufemd
